<%- include('partials/header.ejs') %>

<div class="container-fluid p-1">

  <form class="upload-form">
    <h4>Upload video</h4>
    <label for="videoName" class="form-label">Video name</label>
    <input type="text" class="form-control" id="videoName" aria-describedby="videoName">
    <label for="videoDescription" class="form-label">Video Description</label>
    <input type="text" class="form-control" id="videoDescription" aria-describedby="videoDescription">
    <label class="form-label" for="customFile">Choose your video file below:</label>
    <input type="file" accept=".mp4,.mov,.mpeg-2,.wmv,.avi" class="form-control" id="customFile" />
    <button id="upload-button" type="submit" class="mt-3 btn btn-primary">Upload</button>
  </form>
</div>

<%- include('partials/footer.ejs') %>