<div>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/media/Tilda_Icons_18vp_sound.svg" alt="" width="55" height="35"
          class="d-inline-block align-text-top">
        Video Streaming
      </a>
    </div>
  </nav>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/library">Library</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/upload/video">Upload Video</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/favourites">Favourites</a>
    </li>
    <li class="logout-button nav-item">
      <a class="nav-link" href="/">Logout</a>
    </li>
  </ul>
</div>

<script src="/js/logout.js"></script>